<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>反爬技术方案2</title>
  <link rel="stylesheet" href="../assets/style.css" />
</head>

<body>

  <h1>Profile</h1>
  <h3>NickName:
    <a id="name" href="https://github.com/FantasticLBP" target="_">@杭城小刘</a>
  </h3>
  <h3>title:
    <span id="title"></span>
  </h3>
  <h3>Birthday:
    <span id="birthday"></span>
  </h3>
  <h3>Company:
    <span id="company"></span>
  </h3>
  <h3>Address:
    <span id="address"></span>
  </h3>
  <h3>Negative:
    <span id="negative"></span>
  </h3>
  <h3>Bidprice:
    <span id="bidprice"></span>
  </h3>
  <h3>Honor:
    <span id="honor"></span>
  </h3>


</body>
<script src="../lib/util.js"></script>
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="../ConfigureJS/Solution2.js"></script>
<script src="../Solution/Solution2.js"></script>
<script src="../lib/module.js"></script>

</html>