<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>反爬技术方案1</title>
  <link rel="stylesheet" href="../assets/style.css" />
</head>

<body>

  <h1>😄 too young too simple ,sometimes naive</h1>
  <h1>个人信息</h1>
  <h1> 昵称：
    <a id="name" href="https://github.com/FantasticLBP" target="_"></a>
  </h1>
  <h2>年份：
    <span id="year"></span>
  </h2>
  <h2>月份：
    <span id="month"></span>
  </h2>
  <h2>日期：
    <span id="day"></span>
  </h2>
  <h2></h2>
</body>
<script src="../lib/util.js"></script>
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="../ConfigureJS/Solution1.js"></script>
<script src="../Solution/Solution1.js"></script>
<script src="../lib/module.js"></script>

</html>