@font-face {
  font-family: "NumberFont";
  src: url('http://127.0.0.1:8080/Util/analysis');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "NumberFont";
}

div{
  margin: 10px;
}

ul{
  font: 30px;
  color: #333333;
  text-align: center;
}
li{
  list-style: none;
  text-align: left;
  margin: 5px;
}

