<html>

<head>
  <meta charset="utf-8">
  <title>Web 端反爬技术方案</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" href="../assets/style.css" />
</head>

<body>
  <h2><a id="name" href="https://github.com/FantasticLBP" target="_">@杭城小刘</a></h2>
  <ul>
      <li>
        <a href="solution1.html">方案1(针对数字反爬)</a>
      </li>
      <li>
        <a href="solution2.html">方案2(针对文字反爬)</a>
      </li>
    </ul>

</body>

</html>